In [17]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder, OneHotEncoder
import pickle

In [18]:
df=pd.read_csv('Churn_Modelling.csv')
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [19]:
df=df.drop(['RowNumber','CustomerId','Surname'],axis=1)
df.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [20]:
label_conder_gender=LabelEncoder()
df['Gender']=label_conder_gender.fit_transform(df['Gender'])

In [21]:
df.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France       0  ...               1        101348.88       1
1          608     Spain       0  ...               1        112542.58       0
2          502    France       0  ...               0        113931.57       1
3          699    France       0  ...               0         93826.63       0
4          850     Spain       0  ...               1         79084.10       0

[5 rows x 11 columns]

In [22]:
one_hot_encoder=OneHotEncoder(handle_unknown='ignore')

geo_encoder=one_hot_encoder.fit_transform(df[['Geography']]).toarray()

In [23]:
geo_encoder

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [24]:
geo_encoder_df=pd.DataFrame(geo_encoder,columns=one_hot_encoder.get_feature_names_out(['Geography']))
geo_encoder_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [25]:
df=pd.concat([df,geo_encoder_df],axis=1)
df.head()

   CreditScore Geography  ...  Geography_Germany  Geography_Spain
0          619    France  ...                0.0              0.0
1          608     Spain  ...                0.0              1.0
2          502    France  ...                0.0              0.0
3          699    France  ...                0.0              0.0
4          850     Spain  ...                0.0              1.0

[5 rows x 14 columns]

In [26]:
df=df.drop(['Geography'],axis=1)

In [27]:
X=df.drop('EstimatedSalary',axis=1)
y=df['EstimatedSalary']

In [28]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [29]:
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [30]:
with open('label_conder_gender2.pkl','wb') as file:
    pickle.dump(label_conder_gender,file)

with open('one_hot_encoder2.pkl','wb') as file:
    pickle.dump(one_hot_encoder,file)

with open('scaler2.pkl','wb') as file:
    pickle.dump(scaler,file)

# ANN Regression

In [31]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [32]:
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1)
])

model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

WARNING:tensorflow:From n:\PW\udamy\End to End deep learning project using ANN\Code\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From n:\PW\udamy\End to End deep learning project using ANN\Code\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [33]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

log_dir="regressionlogs/fit/"+datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [34]:
early_stopping=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [35]:
history=model.fit(
    X_train,y_train,
    validation_data=(X_test,y_test),
    epochs=100,
    callbacks=[early_stopping,tensorboard_callback]
)

Epoch 1/100
WARNING:tensorflow:From n:\PW\udamy\End to End deep learning project using ANN\Code\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From n:\PW\udamy\End to End deep learning project using ANN\Code\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 1s 3ms/step - loss: 100367.6875 - mae: 100367.6875 - val_loss: 98480.3047 - val_mae: 98480.3047
Epoch 2/100
250/250 [==============================] - 1s 2ms/step - loss: 99501.4531 - mae: 99501.4531 - val_loss: 96748.0234 - val_mae: 96748.0234
Epoch 3/100
250/250 [==============================] - 1s 2ms/step - loss: 96509.2188 - mae: 96509.2188 - val_loss: 92383.5312 - val_mae: 92383.5312
Epoch 4/100
250/250 [==============================] - 1s 2ms/step - loss: 90703.0156 - mae: 90703.0156 - val_loss: 85215.0469 - val_mae: 85215.0469
Epoch 5/100
250/250 [==============================] - 1s 2ms/step - loss: 82393.0391 - mae: 82393.0391 - val_loss: 76152.3828 - val_mae: 76152.3828
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 72893.2734 - mae: 72893.2734 - val_loss: 67008.5234 - val_mae: 67008.5234
Epoch 7/100
250/250 [==============================] - 1s 2ms/step - loss: 64043.4375 - mae: 64043.4375 - val_loss: 59452.6094 - val_mae: 59452.6094
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 57265.8203 - mae: 57265.8203 - val_loss: 54316.9766 - val_mae: 54316.9766
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 53221.8516 - mae: 53221.8516 - val_loss: 51815.4766 - val_mae: 51815.4766
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 51267.2578 - mae: 51267.2578 - val_loss: 50852.8047 - val_mae: 50852.8047
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 50507.0234 - mae: 50507.0234 - val_loss: 50602.0742 - val_mae: 50602.0742
Epoch 12/100
250/250 [==============================] - 1s 2ms/step - loss: 50212.8789 - mae: 50212.8789 - val_loss: 50510.6523 - val_mae: 50510.6523
Epoch 13/100
250/250 [==============================] - 1s 2ms/step - loss: 50075.9609 - mae: 50075.9609 - val_loss: 50471.9336 - val_mae: 50471.9336
Epoch 14/100
250/250 [==============================] - 1s 2ms/step - loss: 50007.5117 - mae: 50007.5117 - val_loss: 50437.9609 - val_mae: 50437.9609
Epoch 15/100
250/250 [==============================] - 1s 2ms/step - loss: 49953.5977 - mae: 49953.5977 - val_loss: 50423.6445 - val_mae: 50423.6445
Epoch 16/100
250/250 [==============================] - 1s 2ms/step - loss: 49912.2578 - mae: 49912.2578 - val_loss: 50414.0039 - val_mae: 50414.0039
Epoch 17/100
250/250 [==============================] - 1s 2ms/step - loss: 49879.7109 - mae: 49879.7109 - val_loss: 50404.5039 - val_mae: 50404.5039
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 49847.3633 - mae: 49847.3633 - val_loss: 50382.6758 - val_mae: 50382.6758
Epoch 19/100
250/250 [==============================] - 1s 2ms/step - loss: 49816.3477 - mae: 49816.3477 - val_loss: 50374.2344 - val_mae: 50374.2344
Epoch 20/100
250/250 [==============================] - 1s 2ms/step - loss: 49793.5273 - mae: 49793.5273 - val_loss: 50363.1367 - val_mae: 50363.1367
Epoch 21/100
250/250 [==============================] - 1s 3ms/step - loss: 49768.3945 - mae: 49768.3945 - val_loss: 50348.8984 - val_mae: 50348.8984
Epoch 22/100
250/250 [==============================] - 1s 2ms/step - loss: 49750.4219 - mae: 49750.4219 - val_loss: 50343.5781 - val_mae: 50343.5781
Epoch 23/100
250/250 [==============================] - 1s 2ms/step - loss: 49729.7227 - mae: 49729.7227 - val_loss: 50343.8203 - val_mae: 50343.8203
Epoch 24/100
250/250 [==============================] - 1s 2ms/step - loss: 49712.0195 - mae: 49712.0195 - val_loss: 50335.2305 - val_mae: 50335.2305
Epoch 25/100
250/250 [==============================] - 0s 2ms/step - loss: 49693.9492 - mae: 49693.9492 - val_loss: 50331.6953 - val_mae: 50331.6953
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 49679.9492 - mae: 49679.9492 - val_loss: 50328.8008 - val_mae: 50328.8008
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 49663.7734 - mae: 49663.7734 - val_loss: 50319.3945 - val_mae: 50319.3945
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 49647.7891 - mae: 49647.7891 - val_loss: 50307.7422 - val_mae: 50307.7422
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 49636.5156 - mae: 49636.5156 - val_loss: 50321.1797 - val_mae: 50321.1797
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 49624.2656 - mae: 49624.2656 - val_loss: 50315.6133 - val_mae: 50315.6133
Epoch 31/100
250/250 [==============================] - 1s 2ms/step - loss: 49614.3711 - mae: 49614.3711 - val_loss: 50315.1875 - val_mae: 50315.1875
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 49605.4141 - mae: 49605.4141 - val_loss: 50299.7070 - val_mae: 50299.7070
Epoch 33/100
250/250 [==============================] - 1s 2ms/step - loss: 49594.3867 - mae: 49594.3867 - val_loss: 50298.5273 - val_mae: 50298.5273
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 49581.7539 - mae: 49581.7539 - val_loss: 50298.2344 - val_mae: 50298.2344
Epoch 35/100
250/250 [==============================] - 1s 3ms/step - loss: 49573.9805 - mae: 49573.9805 - val_loss: 50302.3164 - val_mae: 50302.3164
Epoch 36/100
250/250 [==============================] - 1s 2ms/step - loss: 49560.6797 - mae: 49560.6797 - val_loss: 50303.1484 - val_mae: 50303.1484
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 49550.3828 - mae: 49550.3828 - val_loss: 50296.4805 - val_mae: 50296.4805
Epoch 38/100
250/250 [==============================] - 1s 2ms/step - loss: 49541.4102 - mae: 49541.4102 - val_loss: 50300.7461 - val_mae: 50300.7461
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 49535.5312 - mae: 49535.5312 - val_loss: 50303.6406 - val_mae: 50303.6406
Epoch 40/100
250/250 [==============================] - 1s 2ms/step - loss: 49525.0938 - mae: 49525.0938 - val_loss: 50297.1172 - val_mae: 50297.1172
Epoch 41/100
250/250 [==============================] - 1s 2ms/step - loss: 49518.8398 - mae: 49518.8398 - val_loss: 50294.2227 - val_mae: 50294.2227
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 49511.1953 - mae: 49511.1953 - val_loss: 50292.7422 - val_mae: 50292.7422
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 49504.0156 - mae: 49504.0156 - val_loss: 50295.2852 - val_mae: 50295.2852
Epoch 44/100
250/250 [==============================] - 1s 3ms/step - loss: 49495.3984 - mae: 49495.3984 - val_loss: 50297.3242 - val_mae: 50297.3242
Epoch 45/100
250/250 [==============================] - 1s 2ms/step - loss: 49489.9141 - mae: 49489.9141 - val_loss: 50293.4141 - val_mae: 50293.4141
Epoch 46/100
250/250 [==============================] - 1s 2ms/step - loss: 49484.3359 - mae: 49484.3359 - val_loss: 50295.2773 - val_mae: 50295.2773
Epoch 47/100
250/250 [==============================] - 1s 2ms/step - loss: 49478.7422 - mae: 49478.7422 - val_loss: 50292.3789 - val_mae: 50292.3789
Epoch 48/100
250/250 [==============================] - 1s 2ms/step - loss: 49470.2461 - mae: 49470.2461 - val_loss: 50296.2734 - val_mae: 50296.2734
Epoch 49/100
250/250 [==============================] - 1s 2ms/step - loss: 49464.8281 - mae: 49464.8281 - val_loss: 50299.3242 - val_mae: 50299.3242
Epoch 50/100
250/250 [==============================] - 1s 2ms/step - loss: 49458.2031 - mae: 49458.2031 - val_loss: 50296.9883 - val_mae: 50296.9883
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 49450.8164 - mae: 49450.8164 - val_loss: 50308.7852 - val_mae: 50308.7852
Epoch 52/100
250/250 [==============================] - 1s 3ms/step - loss: 49443.3477 - mae: 49443.3477 - val_loss: 50307.2148 - val_mae: 50307.2148
Epoch 53/100
250/250 [==============================] - 1s 3ms/step - loss: 49437.6055 - mae: 49437.6055 - val_loss: 50306.5977 - val_mae: 50306.5977
Epoch 54/100
250/250 [==============================] - 1s 2ms/step - loss: 49431.1953 - mae: 49431.1953 - val_loss: 50313.5664 - val_mae: 50313.5664
Epoch 55/100
250/250 [==============================] - 1s 2ms/step - loss: 49427.7969 - mae: 49427.7969 - val_loss: 50315.6719 - val_mae: 50315.6719
Epoch 56/100
250/250 [==============================] - 1s 2ms/step - loss: 49418.7383 - mae: 49418.7383 - val_loss: 50305.7812 - val_mae: 50305.7812
Epoch 57/100
250/250 [==============================] - 1s 2ms/step - loss: 49413.6328 - mae: 49413.6328 - val_loss: 50308.0469 - val_mae: 50308.0469

In [36]:
%load_ext tensorboard

In [38]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 21884), started 0:00:03 ago. (Use '!kill 21884' to kill it.)

In [39]:
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE: {test_mae}')

63/63 [==============================] - 0s 1ms/step - loss: 50292.3789 - mae: 50292.3789
Test MAE: 50292.37890625

In [40]:
model.save('regression_model.h5')

n:\PW\udamy\End to End deep learning project using ANN\Code\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(